{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Are you sure you want to delete?</button>
      </div>
    </form>
  </main>
<{% endblock content %}